.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    margin: 0 1.5rem;
    margin-top: 1rem;
  }
  @media (min-width: $PC-width) {
    margin: 0 2rem;
  }

  // .description__flex-container

  &__flex-container {
    flex-grow: 1;
    @media (min-width: $tablet-width) {
      max-width: 50%;
    }

    &.description__img {
      max-width: 530px;
    }
  }

  &__img img {
    width: 100%;
  }

  // .description__text

  &__text {
    &:first-of-type {
      margin-top: 1rem;
    }
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      &:first-of-type {
        margin-top: 0rem;
      }
    }

    &--full-hidden {
      display: none;
    }

    &--hidden {
      display: none;
      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &--768hidden {
      @media (min-width: $tablet-width) {
        display: none;
      }
      @media (min-width: $PC-width) {
        display: inline;
      }
    }
  }

  &__showbtn {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    @media (min-width: $tablet-width) {
      margin-left: 0;
    }
    &:hover {
      color: $first-hover-color;
    }
    &-img-container {
      content: url(../images/icons/icon.svg);
      margin-right: 1rem;
    }

    &-img-container--flipped {
      transform: rotate(180deg);
    }
  }
}
