.page-info {
  &__header {
    display: flex;
    align-items: center;
  }

  &__headline {
    font-size: $main-heading-size;
    margin: 1.5rem 1rem;
    @media (min-width: $tablet-width) {
      margin-left: 1.5rem;
    }
  }

  &__nav-bar {
    margin: 0 $mobile-side-margin;
    @media (min-width: $tablet-width) {
      margin: 0 $tablet-side-margin;
    }
    @media (min-width: $PC-width) {
      margin: 0 $pc-side-margin;
    }
  }

  &__header-img-container {
    content: url(../images/icons/highlight.svg);
  }
}
