.main-footer {
  font-size: $small-text-size;
  color: $sub-text-color;
  border-top: 1px solid $section-highlight-border-color;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    text-align: left;
  }

  // .main-footer__paragraph

  &__paragraph {
    margin-bottom: $mobile-side-margin;
    margin-left: $mobile-side-margin;
    margin-right: 16px;
    flex-basis: 33.3%;
    &:first-child {
      margin-top: 16px;
    }
    @media (min-width: $tablet-width) {
      margin-top: 32px !important;
      &:first-child {
        margin-left: $tablet-side-margin;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        margin-right: $tablet-side-margin;
        text-align: right;
      }
    }

    @media (min-width: $PC-width) {
      &:first-child {
        margin-left: $pc-side-margin;
      }
      &:last-child {
        margin-right: $pc-side-margin;
      }
    }
  }
  // .main-footer__link
  &__link {
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $second-hover-color;
    }
  }
}
