.repair-order-btn {
  transition: 0.3s ease;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  &__container {
    content: url(/src/images/icons/repair.svg);
  }
}
