.form-container {
  // .form-container__close-btn

  &__close-btn {
    margin-top: 24px;
    margin-left: 16px;
    @media (min-width: $tablet-width) {
      margin: 0;
      position: absolute;
      left: -56px;
      top: 32px;
    }
  }
}

.form {
  position: relative;
  margin-top: 40px;
  margin-left: $mobile-side-margin;
  margin-right: $mobile-side-margin;
  @media (min-width: $tablet-width) {
    margin-left: $tablet-side-margin;
    margin-right: $tablet-side-margin;
  }
  @media (min-width: $PC-width) {
    margin-left: $pc-side-margin;
    margin-right: $pc-side-margin;
  }

  // .form__heading

  &__heading {
    font-size: $sub-heading1-size;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__heading::before {
    content: url(../images/icons/highlight.svg);
    position: absolute;
    left: -16px;
    top: -6px;
    @media (min-width: $tablet-width) {
      left: -24px;
    }
    @media (min-width: $PC-width) {
      left: -32px;
    }
  }
  // .form__input

  &__input {
    border: none;
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: $font-family;
    padding: 12px 16px;
    border: 1px solid $slightly-highlighted-items-border-color;
    border-radius: 6px;
    width: 100%;
  }

  &__textarea {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }

  // .form_disclaimer

  &__disclaimer {
    color: $sub-text-color;
    font-size: $small-text-size;
    line-height: inherit;
    margin-bottom: 24px;
  }

  &__disclaimer-link {
    color: $second-hover-color !important;
    &:hover {
      text-decoration: underline;
    }
  }

  &__submit-btn {
    position: absolute;
    right: 0px;
  }
}
