.main-content {
   &__repair-brands, &__repair-devices, &__service-prices {
      margin-top: 32px;
      margin-left: $mobile-side-margin;
      @media (min-width: $tablet-width) {margin-left: $tablet-side-margin;}
      @media (min-width: $PC-width) {margin-left: $pc-side-margin;}
   }
}