.swiper {
  &-pagination {
    display: flex;
    position: static;
    top: 0px;
    margin-top: 20px;
    justify-content: center;

    &-bullet {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin: 0 6px;
      background-color: $swiper-bullet-color;

      &-active {
        background: $swiper-active-bullet-color;
      }
    }
  }
}