.mobile-price-interface {
  overflow: hidden;
  // .mobile-price-interface__list

  &__list {
    display: flex;
    list-style: none;
  }

  // .mobile-price-interface__card

  &__card {
    position: relative;
    font-size: $small-text-size;
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin-right: 16px;
    border: 1px solid $slightly-highlighted-items-border-color;
    border-radius: 6px;

    &:last-of-type {
      margin-right: 2.5rem;
      @media (min-width: $mobile-second-width) {
        margin-right: 5rem;
      }
    }
  }

  // .mobile-price-interface__title

  &__title {
    color: $sub-text-color;
  }

  // .mobile-price-interface__order-btn

  &__order-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
