.price-table {
  font-size: $small-text-size;
  // .price-table__table-heading

  &__table-heading {
    display: flex;
    color: $sub-text-color;
    margin-bottom: 16px;
    margin-right: 1.5rem;
  }

  &__service-name-heading {
    margin-left: 16px;
    width: 50%;
  }

  &__price-heading {
    width: 15%;
  }

  &__time-heading {
    width: 15%;
  }

  // .price-table__services-wrapper

  &__services-wrapper {
    background-color: $slight-highlight-background-color;
    border-radius: 6px;
    margin-right: 1.5rem;
  }

  // .price-table__service-item

  &__service-item {
    height: 64px;
    display: flex;
    align-items: center;

    &:not(.price-table__service-item:last-of-type) {
      border-bottom: 1px solid $slightly-highlighted-items-border-color;
    }
  }

  // .price-table__service-name

  &__service-name {
    width: 50%;
    margin-left: 16px;
  }

  // .price-table__price

  &__price {
    width: 15%;
  }

  &__order-btn {
    margin-left: auto;
    margin-right: 16px;
  }
}
