.mobile-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid $section-highlight-border-color;

  @media (min-width: $PC-width) {
    display: none;
  }

  // .mobile-menu__element

  &__element {
    @media (min-width: $tablet-width) {
      margin: 0 0.6rem;
    }

    &:first-of-type {
      margin-left: $mobile-side-margin;
      @media (min-width: $tablet-width) {
        margin-left: $tablet-side-margin;
      }
    }
    &:last-of-type {
      margin-right: $mobile-side-margin;
      @media (min-width: $tablet-width) {
        margin-right: $tablet-side-margin;
      }
    }

    // .mobile-menu__element--hidden

    &--hidden {
      display: none;
      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    // .mobile-menu__element--hidden768

    &--hidden768 {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &__divider {
    content: url(../images/icons/divider.svg);
  }

  &__company-logo {
    @media (min-width: $tablet-width) {
      margin-right: auto;
    }
  }
}
