.repair-devices {

  border-top: 1px solid #D9FFF5;
  // .repair-devices__heading

  &__heading {
    font-size: 1rem;
    font-weight: 300;
    color: #7e7e82;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  // .repair-devices__list

  &__list {
    padding: 0;
    //  @media (max-width: 767px) and (max-resolution: 149dpi) {overflow: scroll;}
    @media (min-width: 768px) {
      flex-wrap: wrap;
      gap: 16px;
      column-gap: 24px;
    }

    @media (min-width: 1440px) {
      column-gap: 32px;
    }
  }

  // .repair-devices__list--closed

  &__list--closed {
    @media (min-width: 768px) {
      height: 150px;
    }
  }

  &__list--opened {
    @media (min-width: 768px) {
      height: 100%;
    }
  }
  // .repair-devices__list-item

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 160px;
    width: 240px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: #ffffff;

    @media (min-width: 768px) {
      width: 224px;
      margin-right: 0;
    }

    @media (min-width: 1440px) {
      width: 240px;
    }

    & div {
      align-self: flex-start;
    }

    & button {
      align-self: flex-end;
    }

    &:not(.repair-devices-item:last-of-type) {
      margin-right: 16px;
      @media (min-width: 768px) {
        margin-right: 0;
      }
    }
  }

  // .repair-devices__showbtn

  &__showbtn {
    font-size: inherit;
    font-family: inherit;
  }

  &__showbtn:hover {
    color: #41F6D7;
  }

  &__showbtn--hidden {
    display: none;
    @media (min-width: 768px) {display: block;}
  }

  &__showbtn-img-container {
    content: url(../images/icons/icon.svg);
  }

  &__showbtn-img-container-flipped {
    transform: rotate(180deg);
  }

  &__showbtn-text {
    margin-left: 16px;
    font-weight: 500;
  }
  
}