.repair-brands {
  border-top: 1px solid $section-highlight-border-color;

  // .repair-brands__heading

  &__heading {
    font-size: $sub-heading2-size;
    font-weight: 300;
    color: $sub-text-color;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  // .repair-brands__list

  &__list {
    padding: 0;
    //  @media (max-width: 767px) and (max-resolution: 149dpi) {overflow: scroll;}
    @media (min-width: $tablet-width) {
      flex-wrap: wrap;
      gap: 16px;
      column-gap: 24px;
    }

    @media (min-width: $PC-width) {
      column-gap: 32px;
    }
  }

  // .repair-brands__list--closed

  &__list--closed {
    @media (min-width: $tablet-width) {
      height: 155px;
    }
  }

  &__list--opened {
    @media (min-width: $tablet-width) {
      height: 100%;
    }
  }

  // .repair-brands__list-item

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 72px;
    width: 240px;
    border: 1px solid $slightly-highlighted-items-border-color;
    border-radius: 6px;
    background-color: $slight-highlight-background-color;
    @media (min-width: $tablet-width) {
      width: 224px;
      margin-right: 0;
    }

    @media (min-width: $PC-width) {
      width: 240px;
    }

    &:not(.repair-brands__list-item:last-of-type) {
      margin-right: 16px;
      @media (min-width: $tablet-width) {
        margin-right: 0;
      }
    }

    &--hidden {
      display: none;
      @media (min-width: $tablet-width) {
        display: flex;
      }
    }
  }

  // .repair-brands__showbtn

  &__showbtn {
    font-size: inherit;
    font-family: inherit;

    &:hover {
      color: $first-hover-color;
    }

    &--hidden {
      display: none;
      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &-img-container {
      content: url(../images/icons/icon.svg);
    }

    &-img-container--flipped {
      transform: rotate(180deg);
    }

    &-text {
      margin-left: 16px;
      font-weight: 500;
    }
  }
}
